.animate__animated.animate__fadeInRight{
    --animate-duration: 1s;
}

.date-card-container {
    /* background-color: rgba(255,255,255,.5); */

    height: 220px;
    width: 310px;
    font-size: 1rem;
    text-align: center;
    margin: 0px 15px 0px 0px;

    display: grid;
    grid-template-columns: 310px;
    grid-template-rows: 90px 1fr;

    color: #d5d4d4;
}

#display-date {
    /* outline: 1px solid blueviolet; */
    margin: 5px;
    font-size: 2.5rem;
    padding: 15px 0px 0px 15px;
    /* position: relative; */
    /* vertical-align: bottom;; */
    /* top: 0%; */
}
#display-moon-phase{
    /* outline: 1px solid blueviolet; */
    font-size: 1.5em;
    margin: 5px;
    padding: 0px 0px 0px 15px;
}

@media screen and (max-width: 430px) {
    .date-card-container {
        /* background-color: rgba(202, 139, 56,.5); */
        height: 180px;
        width: 100%;
    }
    #display-date{
        font-size: 3.2em;
        margin: 0px;
    }
    #display-moon-phase{
        font-size: 2em;
        text-shadow: 
        0px 0px 5px rgb(249, 215, 154),
        0px 0px 5px black,
        0px 0px 10px rgb(248, 243, 206),
        0px 0px 20px white,
        0px 0px 30px white;
    }
}