
h1 {
    color: orange;
}
  
canvas {
    /* position stays fixed to screen */
    /* may need to fix this later on if I want to scroll down to a sticky div at bottom */
    position: fixed;
    /* style update position not fixed after scroll length hits a certain number */
  
    /* centering to middle of screen
    50% from left and top
    transform/translate - takes its back -50% (left - and 50% from top) */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    /* max image size image fills screen  */
    max-height: 100vh;
    max-width: 100vw;
  
}