.movie-card {
    margin: 0px auto;
    margin-bottom: 60px;
    /* border: 10px solid red; */

    color: gold;
    background-color: rgba(0,0,0,.8);
    border-radius: 65px;

    width: 700px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-card-helper {
    outline: 2px dotted white;
    border-radius: 60px;
    padding: 40px;
}

/* .movie-poster-container {
    outline: 10px solid orange;
} */

.movie-card-info {
    /* border: 2px solid dodgerblue; */
    padding: 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 60px
    
}

.movie-card-info > h1 {
    font-size: 2em;
}

.movie-card-info > h3 {
    font-size: 1.7em;
}

.detail-link {
    border: 2px solid gold;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 8px;

    padding: 10px;
    margin: 0 auto;

    width: 300px;

    font-size: 1.2em;
    
}

.detail-link > a:link {
    color: white;
    text-decoration: underline white;

}
.detail-link > a:visited {
    color: white;
    text-decoration: underline white;
}

.detail-link:hover {
    transform: scale(1.01, 1);
    background-image: linear-gradient(to bottom right, #001aff, rgb(0, 255, 153));
}