.info-box-container{
    height: inherit;
    width: inherit;
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    color: olivedrab;
    font-size: 2em;
}
