.info-box-container{
    height: inherit;
    width: inherit;
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: olivedrab;
    font-size: 2em;
}
