.search-bar-container {
    position: fixed;
    text-align: center;
    outline: 5px solid orange;
    /* overflow: hidden; */
    
    bottom: 3%;
    display: flex;
    justify-content: center;
    width: 500px;
}
.search-form input{
    width: 200px;
    text-align: center;
}
.search-form button{
    color: blue;
}




.input {
    margin: 10px;
    padding: .6rem 1.5rem;
    
    font-size: 1.1rem;
    
    border-radius: 25px;
    border: 1.5px solid rgba(255,255,255, .8);
    
    background-color: rgba(81, 81, 81, .35);
    background-color: slategray;
    color: #d5d4d4;
}

/* 
input:focus {
    outline: none;
    border: 1px solid dodgerblue;
}

@media screen and (max-width: 430px) {
    .search-bar-form-container {
        position: fixed;
        bottom: 10%;
    }
    .search-input {
        height: 50px;
        width: 85%;
        font-size: 1.7em;
    }
    input:focus {
        border: 1px solid #ffeea9;
    }
}  */