.moon-container{
    outline: 5px solid turquoise;
    background-color: gray;

    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;


}
.moon-container canvas{
    position: fixed;
    /* border: 4px solid orange; */
}