canvas {
  position: fixed;

  left: 50%;
  top: 4%;
  transform: translate(-50%, 0%);
  
  max-height: 400px;
  max-width: 400px;
}

.about-button {
  color: white;
  background-image: radial-gradient( white, white, pink, orange);
  border: none;
  border-radius: 50px;
  width: 20px;
  padding: 10px;
  position: fixed;
  left: 15%;
  bottom: 4%;
}
.about-button:hover{
  transform: scale(1.5);
}
.about-button:visited{
  color:white;
}
.letter-a{
  color:black;
}


@media screen and (max-width: 420px) {
  canvas {
    margin-top: 0px;
    max-width: 360px;
    max-height: 360px;
  }
  .about-button{
    left: 5%;
    bottom: 4%;
    transform: rotate(-90deg);
    font-size: 1em;
    font-weight: bold;
    color:red;
  }
  .about-link {
    color:red;
  }
  .about-link:visited {
    color:rgb(0, 251, 255);
  }
}