.info-display-container{
    display: flex;
    flex-direction: row;
    border: 2px solid orange;

    position: fixed;
    width: 850px;
    
    align-items: center;
    justify-content: space-evenly;

    transform: translate(-50%);
    bottom: 15%;
    left: 50%;    
}


