.info-display-container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid orange; */

    position: fixed;
    width: 850px;
    
    align-items: center;
    justify-content: space-evenly;

    transform: translate(-50%);
    bottom: 15%;
    left: 50%;    
}

.media-display-container {
    position: fixed;

    transform: translate(-50%);
    left: 50%;

    bottom: 13%;
}

@media screen and (max-width: 420px) {
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: initial;
    }
}

@media screen and (min-width: 420.03px){
    .hide-on-mobile {
        display: initial;
    }
    .show-on-mobile {
        display: none;
    }
}