.info-display-container {
    display: flex;
    flex-direction: row;
    /* border: 2px solid orange; */

    position: fixed;
    width: 850px;
    
    align-items: center;
    justify-content: space-evenly;

    transform: translate(-50%);
    bottom: 15%;
    left: 50%;    
}

.media-display-container {
    position: fixed;
    /* border: 6px solid pink; */

    transform: translate(-50%);
    left: 50%;

    bottom: 13%;
}

@media screen and (max-width: 430px) {
    .hide-on-mobile {
        visibility: hidden;
    }
    .show-on-mobile {
        visibility: visible;
    }
} 


@media screen and (min-width: 430.03px){
    .hide-on-mobile {
        visibility: visible;
    }
    .show-on-mobile {
        visibility: hidden;
    }
}