.movie-index-full-screen-container {
    background-image: url(https://images.unsplash.com/photo-1513111168953-34fc252c9279?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    /* background-size: 100% 100%;
    background-position: 70px; */

    background-size: center;
    background-position: 220px;
    background-attachment: fixed;
    
    
}

.movie-index-title {
    color: dodgerblue;
}



/* GOLD BAKCGOUNRD */
/* background-image: url(https://img.freepik.com/free-photo/roughly-gold-painted-concrete-wall-surface-background_53876-110786.jpg?w=1380&t=st=1664930667~exp=1664931267~hmac=240bb865154b9c9520663d88e8d60d88a59456eeea7c556a1da39ea28c24ecfb); */

