#section-moon{
    height: 5000px;
    /* background-color: black; */
    background-color: gray;
    display: flex;
}
.leftside-moon{
    border: 10px solid orange;
    background-color: black;
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
}
.rightside-info{
    border: 10px solid lightpink;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}