.sign-up-form-container{
    font-size: 1.5em;
    color: inherit;
}
.signup-label{
    padding: 0px 20px 0px 0px;
}
.signup-input{
    font-size: 1em;
    margin-bottom: 20px;
    background-color: rgba(250, 235, 215,.7);
    border:none;
    border:none;
    border-radius: 10px;
    color: rgb(211, 62, 111);
    padding: 0px 0px 0px 20px;
}
.signup-btn{
    font-size: 1em;
    padding: 10px;
    border-radius: 20px;
    background-color: palevioletred;
    color: paleturquoise;
    border: none;
}