html {
  height: 100vh;
}

body {
  font-family: "Roboto", Arial !important;
  background-color: gray;
  color: orange;

  /* page height - scroll length */
  height: 1000vh;


  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
