nav{
    position: fixed;
    margin-left: 30px;
    margin-top: 20px;
    padding: 0px 0px 0px 10px;
    font-size: 4em;
}
a:link {
    display: inline-block;
    color: white;
}

a:visited {
    color: pink;
}