#test-child-one{
    height: inherit;
    width: inherit;
    background-color: lightcyan;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2em;
    color: blue;
}