#test-child-one{
    height: 100%;
    width: 100%;
    background-color: lightcyan;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2em;
    color: blue;
}