.display-box-container{
    position: fixed;
    width: 330px;
    height: 150px;

    top: 40%;
    transform: translateY(-40%);
    margin-left: 10%;

    outline: 5px solid red;
    z-index: 2;
}
.display-button{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    right: -25px;
}